* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

#catagories li {
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.item {
    border-radius: 8px;
    padding: 16px;
    max-width: 392px;
    background: #f6f6fe;
}

.item h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item li {
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}